/* favourites */
.fav-img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.fav-card {
  margin: 20px 20px 0px 20px;
  background-color: #DAFFFB;
  color: #04364A;
  padding: 10px 5px 5px 5px;
  border-radius: 20px;
  display: flex;
  border: 3px solid #64ccc5;
}

.favourite {
  display: flex;
  flex-direction: column;
}

.imagey {
  width: 40vh;
  padding: 5px;
  text-align: center;

}

.texty {
  display: flex;
  flex-direction: column;
  width: 70vh !important;
  padding: 5px;
}

.fav-text {
  padding-left: 15%;
  line-height: 1.3;
  /* font-weight: 100; */
}

button {
  border: none;
  border-radius: 10px;
  padding: 2px 8px;
  margin: 2px;
  font-size: 15px;
  /* font-weight: 100; */
  background-color: #DAFFFB;
}

.card-button {
  padding: 5px 10px 0px 10px;
}

.card-button button {
  color: #04364A;
  background-color: #64ccc5;
}

.col {
  flex: 0 0 0%;
}

h2 {
  padding-left: 10%;

}

/* unfavourited */
.material-icons.fav-button {
  color: #64ccc5;
  text-decoration: none;
}

/* Apply styling for the "favorited" state */
.material-icons.fav-button.favourited {
  color: #04364A;
  text-decoration: none;
}

.toilet-card {
  background-color: #DAFFFB;
  border-radius: 20px;
}

.padding {
  padding: 50px;
}

#name-goes-here {
  font-size: 20px;
  color: #DAFFFB;
  text-align: center;
  padding: 10px
} 