/* favourites */
.fav-card {
  margin: 10px 12px 0px 12px;
  background-color: white;
  color: #04364A;
  padding: 10px 5px 5px 5px;
  border-radius: 20px;
  display: flex;
  border: none
}

.favourite {
  display: flex;
  flex-direction: column;
}

.imagey {
  width: 40vh;
  padding: 5px;
  text-align: center;

}

.texty {
  display: flex;
  flex-direction: column;
  width: 70vh !important;
  padding: 5px;
}

.fav-text {
  padding-left: 15%;
  line-height: 1.3;
}

button {
  border: none;
  border-radius: 10px;
  padding: 2px 8px;
  margin: 2px;
  font-size: 15px;
  background-color: white;
}

.card-button {
  padding: 5px 10px 0px 10px;
}

.card-button button {
  color: #DAFFFB;
  background-color: #04364A;
}

.col {
  flex: 0 0 0%;
}

h2 {
  padding-left: 10%;
}

/* unfavourited */
.material-icons.fav-button {
  color: #c8f7f2;
  text-decoration: none;
}

/* Apply styling for the "favorited" state */
.material-icons.fav-button.favourited {
  color: #04364A;
  text-decoration: none;
}

.padding {
  padding: 33px;
}

#name-goes-here {
  font-size: 20px;
  color: #DAFFFB;
  text-align: center;
  padding: 10px
} 