#map {
  height: 100vh;
  width: 100%;
}

.mapboxgl-ctrl-geocoder {
  width: 95vw !important;
  max-width: none !important;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input {
  width: calc(100% - 50px);
}

.mapboxgl-popup-content {
  background-color: #DAFFFB;
}

.mapboxgl-popup-close-button {
  width: 20px;
}

.more-info-button {
  border-radius: 10%;
  background-color: none;
  border: 1px solid white;
  font-size: 8px;
  padding: 0 1px;
  color: white;
  background-color: #176B87;
}