#map {
  height: 100vh;
  width: 100%;
  margin-top: 15vw;
}

.mapboxgl-ctrl-icon {
  width: 40px!important;
}

.mapboxgl-ctrl-geocoder {
  width: 82vw !important;
  max-width: none !important;
}

.mapboxgl-ctrl-top-right {
  display: flex;
}

.mapboxgl-popup-content {
  background-color: white;
  border-radius: 20px;
  width: 200px;
}

.mapboxgl-popup-close-button {
  width: 20px;
  font-size: 20px;
  margin: 5px 5px;
}

.mapboxgl-ctrl-group button {
  color: #04364A;
  font-size: 2.0rem;
  height: 50px;
}

.popup-buttons {
  display: flex;
  align-items: center;
  padding: 10px;
}

.more-info-button,
.navigate-button, .disability-button {
  border-radius: 20%;
  padding: 5px;
  font-size: 8px;
  color: white;
  background-color: #176B87;
  border: none;
  height: 35px;
  margin: 0px 5px 0px 0px;
}

.disability-button {
  background-color: rgb(17, 21, 36);
}

.disability-button:hover {
  cursor: default;
}

button a {
  color: white;
  text-decoration: none;
}

.mapboxgl-ctrl-top-right{
  top: 1vh;
  left: 2vw;
  right:5vw;
}

.mapboxgl-ctrl-geocoder--input[type='text'] {
  font-size: 1rem !important;
  padding: 1rem 2.5rem !important;
  height: 50px !important;
}
