#map {
  height: 100vh;
  width: 100%;
}

.mapboxgl-ctrl-geocoder {
  width: 95vw !important;
  max-width: none !important;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input {
  width: calc(100% - 50px);
}

.mapboxgl-popup-content {
  background-color: #DAFFFB;
}

.mapboxgl-popup-close-button {
  width: 20px;
}