
/* Header */

button .btn {
    border: none;
}

#navbarPlaceholder .navbar {
    background-color: #176B87 !important;
}

.text-decoration-none .btn{
    font-size: 2.5rem;
    padding: 0;
    color: #64CCC5;
}

nav .btn,
footer .btn {
    background-color: transparent;
    border: none;
    margin: 0px 0px;
    color: #64CCC5;
}


.navbar .d-flex {
    align-items: center !important;
}

.btn a {
    text-decoration: none;
    color: #DAFFFB;
}

.btn-outline-info {
    color: #DAFFFB;
    background-color: #64CCC5 !important;
    margin: 10px;
    font-weight: 700;
    border-color: #64CCC5;
}

.btn-outline-light {
    color: #DAFFFB;
    background-color: #176B87 !important;
    border-color: #64CCC5;
    margin: 10px;
    font-weight: 700;
}

.container-fluid {
    flex-wrap: nowrap !important;
}

.navbar-brand {
    background-color: #DAFFFB;
    margin: 0;
    padding: 5px;
    border-radius: 10px;

}

/* Footer */

footer {
    padding: 0px !important;
    height: 60px;
    background-color: #176B87 !important;
}

footer .container {
    padding: 0%;
}

footer a.material-icons {
    font-size: 2.5rem;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer .btn {
    padding: 0;
    margin-top: 10px;
}