
/* Header */

button .btn {
    border: none;
}

nav .btn,
footer .btn {
    background-color: transparent;
    border: none;
    margin: 0px 0px;
    color: #64CCC5;
}


.navbar .d-flex {
    align-items: center !important;
}

.btn a {
    text-decoration: none;
    color: #DAFFFB;
}

.btn-outline-info {
    color: #DAFFFB;
    background-color: #64CCC5 !important;
    margin: 10px;
    font-weight: 700;
    border-color: #64CCC5
}

.btn-outline-light {
    color: #DAFFFB;
    background-color: #176B87 !important;
    border-color: #64CCC5;
    margin: 10px;
    font-weight: 700;
}

.container-fluid {
    flex-wrap: nowrap !important;
}

/* Footer */

footer {
    padding: 0px !important;
    height: 7.5vh;
    background-color: #176B87 !important;
}

footer .container {
    padding: 0%;
}

footer a.material-icons {
    font-size: 2.5rem;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer .btn {
    margin-bottom: 10px;
}