#averageRating {
  font-size: 70px;
  height: 100px;
  color: white;
}

.review-pair {
  display: flex;
  justify-content: space-between;
}

.review-title {
  text-align: left;
  width: 20%;
}

.review-bar {
  margin-top: 5px;
  width: 80%;
}

.review-progress {
  margin: 20px 0;
}

/* User */
.d-flex {
  margin-top: 5px;
}

.d-flex .user-icon {
  margin-right: 20px;
}

.d-flex .name {
  margin-right: 220px;
  font-size: 16px;
  font-weight: bold;
}

.d-flex .days {
  font-size: 14px;
}

.d-flex .stars-days {
  display: flex;
  justify-content: space-between;
}

.mb-2 {
  text-align: left;
}

.mb-3 {
  text-align: left;
  padding-top: 10px;
}

.card {
  background-color: #ffffff !important;
  border-radius: 20px;
}

.navbar {
  align-items: start !important;
}

.user-icon {
  width: 50px;
  height: 50px;
}

.name {
  padding: 10px 10px 10px 20px;
  font-weight: bold;
  font-size: 20px;
}

.top {
  display: flex;
}

.rating {
font-size: 30px;
padding-left: 30px;
color: #0077cc
}
