/* 
Dark Blue: #071952
Dark Teal: #088395
Teal: #35A29F
Lime: #F2F7A1
 */

/* NAV BAR */

* {
    margin: 0px;
}

body {
    background-color: #04364a;
}

button {
    margin: 2px;
}

.btn {
    height: 50px;
    margin: 10px;
}

nav .btn,
footer .btn {
    background-color: transparent;
    border: none;
    margin: 10px 0px;
    color: #64CCC5;
}

.form-control {
    margin: 10px 0px;
}

.btn a {
    text-decoration: none;
    color: #DAFFFB;
}

.btn a:hover {
    text-decoration: none;
    color: #088395;
    background-color: #DAFFFB;
}


.btn-outline-info {
    color: #DAFFFB;
    background-color: #64CCC5 !important;
    margin: 10px;
    font-weight: 700;
    border-color: #64CCC5
}

.btn-outline-light {
    color: #DAFFFB;
    background-color: #176B87 !important;
    border-color: #64CCC5;
    margin: 10px;
    font-weight: 700;
}

.btn:hover {
    text-decoration: none;
    color: #088395;
    background-color: #DAFFFB;
}

.container-fluid {
    flex-wrap: nowrap !important;
    /* background-color: #64CCC5; */
}

.form-control {
    background-color: #DAFFFB;
    height: 50px;
    width: 250px;
    border-radius: 50px;
}

nav.navbar {
    background-color: #176B87 !important;
    padding: 0px !important;
}

main div.bg-dark {
    background-color: #04364A !important;
}

footer {
    padding: 0px !important;
    height: 7.5vh;
    background-color: #176B87 !important;
}

footer a.material-icons {
    font-size: 3rem;
}

main {
    margin-bottom: 8vh;
}

.card {
    background-color: #64CCC5;
}

.card-group {
    background-color: #04364A !important;
}

div.bg-dark {
    padding-top: 10px;
}

#map {
    height: 90vh;
    width: 100%;
}
